* {
    /* CLEAR ANY OFFSET */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #333;
    background-color: #444;
}

h3, h4 {
    color: black;
}

h1 {
    text-align: center;
    font-size: 26px;
    font-style: italic;
    color: #f7f7f7;
}

p {
    margin-bottom: 10px;
}


/* RIFLE COLORS */
.rifle-colors p {
    font-size: 10px;
    margin: 0;
    color: black;
}

.rifle-colors img {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.rifle-colors img:hover {
    cursor: pointer;
    border: 1px dashed black;
}

.rifle-colors ul {
    margin: 0;
}

.rifle-colors li {
    text-align: center;
    width: 70px;
    vertical-align: top;
    display: inline-block;
    margin: 0 5px;
}

.rifle-colors li:first-child {
    margin-left: 0;
}

.rifle-colors li:last-child {
    margin-right: 0;
}

/* STYLING */
.free-ship {
    margin-left: auto;
    font-size: 13px;
}

.price {
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.related-list-style {
    list-style-type: square;
    color: black;
    margin-left: 30px;
}

.related-list-style p {
    font-size: 15px;
    margin-bottom: 12px;
}

.main-header {
    background-color: #111;
    padding: 5px 0;
    margin-bottom: 20px;
}

.to-upper {
    text-transform: uppercase;
}

.rifle {
    width: 100%;
}

.container {
    background-color: white;
    border: 3px solid black;
    width: 700px;
    margin: 0 auto; /* make margin on the both sides identical */
    position: relative;
}

.additional-info {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 5px;
    color: white;
}

.additional-info p {
    font-size: 10px;
    margin: 0;
}

.best-seller {
    position: absolute;
    top: -12.5px;
    left: -55px;

    font-size: 10px;
    font-weight: bold;
    color: black;
    background-color: #ffe70e;
    letter-spacing: 2px;

    display: inline-block;
    padding: 5px 10px;
}


/* 'MORE INFO' LINK */
.more-info:link, .more-info:visited {
    color: black;
    text-decoration: none;
    text-decoration: underline black;
}

.more-info:hover, .more-info:active {
    text-decoration: none;
}


/* 'ADD CART' BUTTON */
.add-cart {
    padding: 10px 0;
    font-size: 15px;
    background-color: black;
    color: #f7f7f7;
    border: 2px solid black;
    width: 100%
}

.add-cart:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    color: black;
    border-left: none;
    border-right: none;
    border-bottom: none;
}


/* LAYERS */
.layer1 {
    display: flex;
    margin-bottom: 20px;
}

.layer2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.price-layer {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.details {
    order: -1;
    align-self: flex-end;
}